body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  background-image: url("Object.png");
  background-size: 1440px 1093px;
  background-repeat: no-repeat;
  background-position: center top;
  font-family: "SourceSansPro-Regular", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.logo img {
  max-width: 100px;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.content {
  text-align: center;
  padding: 80px;
  margin-top: 100px;
}

.content h1 {
  font-size: 2.5em;
  margin-bottom: 100px;
}
.content h2 {
  color: white;
  display: flex;
  justify-content: space-between;
}

.button-container {
  margin-top: 20px;
}

.register-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.pros-section {
  padding: 50px;
}

.pros {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.pro {
  text-align: center;
}

.pro img {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
}

.quote-section {
  padding: 50px;
  text-align: center;
}

.quote-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.quote-content blockquote {
  font-style: italic;
}

.video-list-section {
  padding: 50px;
  text-align: center;
}

.videos {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.video-block {
  width: 22%;
}

.video-block img {
  width: 100%;
  height: auto;
}

.author-block,
.rating-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.items-section {
  padding: 50px;
  text-align: center;
}

.items {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.item-block1 img {
  max-width: 50px;
  height: auto;
}

.faq-section {
  padding: 50px;
}
